# dependencies
node_modules/
**/node_modules/
**/.ignored_node_modules/
.pnpm/
**/.pnpm/

# environment
.env
.env.*
!.env.example

# build
dist/
build/
coverage/

# cache
.turbo/
.cache/

# logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json